@import url(./variables.css);

body {
  height: 100%;
  background-color: var(--black);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: scroll;
  width: 100vw;
  min-height: 100vh;
}

.wrap-contact {
  width: 100vw;
  height: 100%;
}

.wrap-contact h1 {
  display: block;
  margin-bottom: 0.75rem;
  text-align: center;
  color: var(--link-light);
}

.logo-contact {
  padding-top: 3rem;
}

.logo-contact-img {
  display: block;
  opacity: 0.5;
  margin: 0 auto;
  width: 18.75rem;
}

form {
  margin: 0 3.125rem;
}

.feedback-input {
  transition: all 0.3s;
  margin-bottom: 0.75rem;
  border: 0.125rem solid var(--link);
  border-radius: 1rem;
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--first-font);
  color: var(--white);
  text-align: center;
  outline: 0;
}

.feedback-input:focus {
  border: 0.125rem solid var(--white);
}

textarea {
  height: 8rem;
  resize: vertical;
}

.btn-input {
  display: block;
  margin: 0 auto;
  margin-top: -0.25rem;
  border: 0;
  border-radius: 2rem;
  width: 60%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background: var(--link);
  font-size: 1rem;
  font-family: var(--second-font);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.561);
}

footer {
  width: 100%;
  padding: 1.25rem;
  background-color: var(--black);
  text-align: center;
  color: var(--white);
}

.copyright {
  opacity: 0.5;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  word-spacing: 0.25rem;
  color: var(--link-light);
}

.github {
  font-family: var(--second-font);
  text-decoration: none;
  color: var(--white);
}

.btn-social {
  display: inline-block;
  margin: 0 0.625rem;
  text-decoration: none;
}

.btn-social i {
  line-height: 1.5rem;
  color: var(--link);
}

@media only screen and (min-width: 768px) {
  .main {
    overflow: hidden;
  }

  .wrap-contact h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .logo-contact {
    padding-top: 5rem;
  }

  .logo-contact-img {
    opacity: 0.6;
    width: 40rem;
  }

  form {
    margin: 0 5.625rem;
  }

  .feedback-input {
    margin-bottom: 1.5rem;
    padding: 0.875rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  textarea {
    height: 15rem;
  }

  .btn-input {
    display: block;
    margin: 0 auto;
    border-radius: 2rem;
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
  }

  footer {
    text-align: center;
  }

  .copyright {
    margin-top: 1rem;
    font-size: 1.185rem;
    word-spacing: 0.35rem;
  }

  .btn-social {
    display: inline-block;
    margin: 0.125rem 2rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1023px) {
  .wrap-contact h1 {
    margin-bottom: 0.75rem;
  }

  .logo-contact {
    padding-top: 2rem;
  }

  .logo-contact-img {
    opacity: 0.6;
    width: 35rem;
  }

  form {
    display: block;
    margin: 0 3.125rem;
    margin: 0 auto;
    width: 50%;
  }

  .feedback-input {
    transition: all 0.3s;
    margin-bottom: 0.75rem;
    border: 0.125rem solid var(--link);
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    outline: 0;
  }

  .feedback-input:focus {
    border: 0.125rem solid var(--white);
  }

  textarea {
    height: 10rem;
    resize: vertical;
  }

  .btn-input {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .btn-input:hover {
    background: var(--hover-social-light);
    transition: 1s;
  }

  .copyright {
    opacity: 0.6;
    font-size: 1rem;
  }

  .github:hover {
    color: rgb(95, 0, 85);
  }

  .btn-social {
    transition: 0.5s linear;
    margin: 0 2rem;
    border-radius: 30%;
    width: 2.125rem;
    height: 2.125rem;
    text-decoration: none;
  }

  .btn-social i {
    display: block;
    transition: 0.5s linear;
    font-size: 1.375rem;
    line-height: 1.6;
    color: var(--link-light);
    text-align: center;
  }

  .btn-social:hover,
  i:hover {
    color: var(--hover-social);
  }
}
