@import url(./variables.css);

.nav-mobile {
  z-index: 3;
}

.nav-links-mobile {
  z-index: 3;
}

.box {
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
  box-shadow: 0 0 3.125rem 0.125rem rgba(75, 5, 96, 0.389);
  border: 0.125rem solid var(--link);
  box-sizing: border-box;
  width: 18rem;
  height: 18rem;
  background: var(--black);
  color: var(--white);
}

.content {
  position: absolute;
  top: 0.813rem;
  left: 0.813rem;
  right: 0.813rem;
  bottom: 0.813rem;
  box-shadow: 0 0.313rem 0.625rem rgba(9, 0, 0, 0.5);
  border: 0.063rem solid var(--link);
  width: 16rem;
  text-align: center;
}

.img-me {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  width: 15rem;
}

.quote {
  position: fixed;
  bottom: 15vh;
  left: 0;
  right: 0;
  padding: 0.938rem 2.5rem 0.625rem;
  text-align: center;
  color: var(--link-light);
  opacity: 0.5;
}

.quote-text {
  font-size: 0.875rem;
  font-family: var(--second-font);
  text-align: center;
  color: var(--link-light);
}

.author {
  margin-left: 11.125rem;
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box span:nth-child(1) {
  transform: rotate(0deg);
}

.box span:nth-child(2) {
  transform: rotate(90deg);
}

.box span:nth-child(3) {
  transform: rotate(180deg);
}

.box span:nth-child(4) {
  transform: rotate(270deg);
}

.box span:before {
  content: '';
  position: absolute;
  -webkit-animation: animate 6s linear infinite;
  animation: animate 6s linear infinite;
  width: 100%;
  height: 0.125rem;
  background: var(--hover-social);
}

@-webkit-keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@media only screen and (min-width: 768px) {
  .box {
    width: 25rem;
    height: 25rem;
  }

  .content {
    width: 23rem;
  }

  .img-me {
    width: 21rem;
  }

  .quote {
    bottom: 25vh;
    padding: 0.938rem 8rem 0.625rem;
  }

  .quote-text {
    font-size: 1.375rem;
    word-spacing: 0.5rem;
  }

  .author {
    margin-left: 22.5rem;
  }

  .box span:before {
    height: 0.125rem;
  }
}

@media only screen and (min-width: 1023px) {
  .img-me {
    transition: opacity 2s;
  }

  .img-me:hover {
    opacity: 1;
  }

  .quote {
    bottom: 22vh;
    padding: 0.5rem;
  }
}
