@import url(./variables.css);

body {
  overflow-x: hidden;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 4.125rem 1rem 2rem;
}

.gallery-box {
  overflow: hidden;
  margin: 2rem 3rem;
  border: 0.063rem solid var(--link);
  min-width: 8.75rem;
  cursor: pointer;
  line-height: 0;
}

.gallery-box > .album-cover {
  width: 100%;
}

.inactive-cover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.active-cover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.gallery-box > span {
  display: block;
  font-size: 1.25rem;
  line-height: 2.6;
  text-align: center;
}

.gallery-span {
  color: var(--white);
}

.gallery-generated {
  position: relative;
  -webkit-column-count: 1;
  -webkit-column-gap: 0.125rem;
  -moz-column-count: 1;
  -moz-column-gap: 0.125rem;
  column-count: 1;
  column-gap: 0.125rem;
  margin: 0 auto;
  width: 90%;
  line-height: 0;
}

.img-gallery {
  margin-bottom: 0.625rem;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.on-top {
  position: fixed;
  z-index: 2;
  bottom: 0.625rem;
  right: 0.5rem;
  display: none;
  outline: none;
  border: 0.063rem solid var(--link);
  border-radius: 5%;
  padding: 0.375rem 1rem;
  cursor: pointer;
  background-color: var(--black);
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .gallery-container {
    padding: 9.125rem 4rem 4.625rem;
  }

  .gallery-box {
    flex: 1;
    margin: 2rem;
    min-width: 13rem;
  }

  .gallery-box > span {
    font-size: 1.5rem;
  }

  .gallery-generated {
    -webkit-column-count: 2;
    -webkit-column-gap: 0.625rem;
    -moz-column-count: 2;
    -moz-column-gap: 0.625rem;
    column-count: 2;
    column-gap: 0.625rem;
  }

  .on-top {
    right: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1023px) {
  .nav-links-desktop {
    background-color: var(--black);
  }

  .gallery-container {
    overflow: hidden;
    padding: 9.125rem 1.625rem 4.625rem;
  }

  .gallery-box {
    overflow: hidden;
    transition: 0.5s;
    margin: 2rem 0.5rem;
    min-width: 0;
  }

  .gallery-box > .album-cover {
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.5s;
    width: 200%;
    height: calc(100% - 10vh);
  }

  .gallery-box > span {
    font-size: 1.25rem;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 5;
  }

  .gallery-box:hover {
    flex: 1 1 50%;
  }
  .gallery-box:hover > .album-cover {
    width: 100%;
    height: 100%;
  }

  .gallery-span {
    color: var(--white);
  }

  .gallery-generated {
    -moz-column-count: 4;
    column-count: 4;
  }

  .on-top {
    bottom: 0.625rem;
    right: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.625rem;
  }

  .on-top:hover {
    filter: drop-shadow(0 0.125rem 0.125rem var(--hover-social));
  }
}
