@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: var(--main-font);
}

body {
  height: 100%;
  background-color: var(--black);
}

.main {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links-desktop {
  display: none;
}

.nav-mobile {
  width: inherit;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
}

.nav-links-mobile {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: -100%;
  background: var(--white);
  z-index: 2;
  display: block;
  transition: 0.5s linear;
}

.active-nav {
  left: 0;
}

.open-nav,
.close-nav {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

.close-nav {
  display: none;
}

.open-nav {
  z-index: 1;
  display: block;
}

.fa-x,
.fa-bars {
  font-size: 1.875rem;
  color: var(--icon-colors);
}

.fa-bars {
  color: white;
}

.nav-links-mobile ul {
  text-align: center;
  margin: 40vh auto;
}

.link {
  text-decoration: none;
  color: var(--black);
  line-height: 2.5;
  font-size: 1.25rem;
}

.logo {
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  background-color: rgba(29, 29, 29, 0.384);
}

.logo img {
  display: block;
  width: 22.5em;
  margin: 0 auto;
}

.cover {
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.384);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.bg-img {
  height: 100vh;
  background-image: url(img/mobile/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: scale(1);
  animation: 5000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% {
    transform: scale();
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 768px) {
  .open-nav,
  .close-nav {
    position: fixed;
    top: 5vh;
    right: 5vw;
  }

  .fa-x,
  .fa-bars {
    font-size: 3.125rem;
  }

  .link {
    font-size: 1.875rem;
  }

  .logo img {
    width: 35rem;
  }
}

@media only screen and (min-width: 1023px) {
  .nav-mobile {
    display: none;
  }

  .nav-links-desktop {
    display: block;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .nav-links-desktop ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    margin: 20px auto;
    width: 35vw;
    text-align: center;
  }

  .link {
    color: var(--link);
    font-size: 22px;
    box-shadow: inset 0 0 0 0 var(--link);
    padding: 0 0.4rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .link:hover {
    box-shadow: inset 150px 0 0 0 rgba(51, 48, 48, 0.508);
    color: white;
  }

  .logo img {
    width: 600px;
    opacity: 0.5;
  }

  .bg-img {
    background-image: url(img/desktop/1.jpg);
  }
}
