@import url(./variables.css);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  font-family: var(--main-font);
}

body {
  height: 100%;
  background-color: var(--black);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  max-height: 100vh;
}

.nav-links-desktop {
  display: none;
  background-color: rgba(0, 0, 0, 0.818);
}

.nav-mobile {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100%;
  width: inherit;
  height: 100vh;
}

.nav-links-mobile {
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100%;
  display: block;
  width: inherit;
  height: inherit;
  background: var(--white);
  transition: 0.5s linear;
}

.active-nav {
  left: 0;
}

.open-nav,
.close-nav {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

.close-nav {
  display: none;
}

.open-nav {
  z-index: 1;
  display: block;
}

.fa-x,
.fa-bars {
  font-size: 1.875rem;
  color: var(--hover-social-light);
}

.nav-links-mobile ul {
  margin: 40vh auto;
  text-align: center;
}

.link {
  font-size: 1.25rem;
  line-height: 2.5;
  color: var(--black);
  text-decoration: none;
}

.logo {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  background-color: rgba(29, 29, 29, 0.384);
}

.logo-img {
  display: block;
  margin: 0 auto;
  width: 22.5em;
}

.cover {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.384);
}

.bg-img {
  transform: scale(1);
  -webkit-animation: 5000ms pulsate infinite alternate ease-in-out;
  animation: 5000ms pulsate infinite alternate ease-in-out;
  height: 100vh;
  width: 100vw;
  background-image: url(img/mobile/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale();
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale();
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 768px) {
  .open-nav,
  .close-nav {
    position: fixed;
    top: 5vh;
    right: 5vw;
  }

  .fa-x,
  .fa-bars {
    font-size: 3.125rem;
  }

  .link {
    font-size: 1.875rem;
  }

  .logo img {
    width: 35rem;
  }
}

@media only screen and (min-width: 1023px) {
  .nav-mobile {
    display: none;
  }

  .nav-links-desktop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 8vh;
  }

  .nav-links-desktop ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.625rem auto;
    width: 60vw;
  }

  .link {
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--link);
    padding: 0 0.4rem;
    font-size: 22px;
    color: var(--white);
  }

  .link:hover {
    box-shadow: inset 150px 0 0 0 rgba(51, 48, 48, 0.508);
    color: white;
  }

  .logo img {
    opacity: 0.5;
    width: 37.5rem;
  }

  .bg-img {
    background-image: url(img/desktop/1.jpg);
    width: 100vw;
    height: 100vh;
  }
}
