:root {
  --black: rgb(0, 0, 0);
  --icon-colors: rgba(0, 0, 0, 0.348);
  --white: rgb(225, 225, 225);
  --link: rgb(51, 48, 48);
  --hover-social: rgb(95, 0, 85);
  --main-font: 'Reem Kufi Ink', sans-serif;
  --second-font: 'Gotu', sans-serif;
}
